@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

:root {
    --dark-cyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
    --very-dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
}

body {
    font-size: 0.875rem;
    background-color: var(--cream);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 98vh;
}

main {
    background-color: var(--white);
    display: flex;
    border-radius: 4%;
    max-width: 37.5rem;
}

.image {
    width: 50%;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4% 0 0 4%;
}

.product_info {
    max-width: 15rem;
    display: inline-block;
    position: relative;
    text-align: left;
    padding-left: 2rem;
    padding-top: 1.09375rem;
}

h1 {
    margin: 0;
    padding-right: 2rem;
    padding-top: 0.2rem;
    font-size: 2rem;
    line-height: 1em;
    font-family: 'Fraunces';
    font-weight: 700;
    color: var(--very-dark-blue);
}

p {
    font-family: 'Montserrat';
    font-weight: 500;
    color: var(--dark-grayish-blue);
}

.prod_type {
    letter-spacing: 0.2rem;
}

.prod_desc {
    padding-top: 0.875rem;
    line-height: 1.6em;
}

.cost {
    display: flex;
}

.cost .current {
    margin: 0;
    width: 60%;
    padding-top: 0.75rem;
    font-size: 2rem;
    font-family: 'Fraunces';
    font-weight: 700;
    color: var(--dark-cyan);
}

.cost .previous {
    margin: 0;
    padding-top: 1.375rem;
    color: var(--dark-grayish-blue);
    text-decoration: line-through;
}

button {
    margin-top: 1.59375rem;
    height: 3rem;
    background-color: var(--dark-cyan);
    color: var(--white);
    border: none;
    width: 15rem;
    font-family: 'Montserrat';
    font-size: 1em;
    letter-spacing: 0.02em;
    border-radius: 0.5rem;
}

.btn svg {
    vertical-align: middle;
    position: relative;
    right: 0.5rem;
}

.btn span {
    position: relative;
    left: 0.3125rem;
}

.btn:hover {
    cursor: pointer;
    background-color: #1a4031;
}

footer {
    position: absolute;
    bottom: 0;
}

@media only screen and (max-width: 600px) {

    main {
        max-width: 21.5rem;
        flex-direction: column;
    }
    .image img {
        content: url('./images/image-product-mobile.jpg');
        border-radius: 5% 5% 0 0;
    }
    .image {
        width: 100%;
    }
    .product_info {
        max-width: none;
        padding-top: 0;
        padding-left: 1.5rem;
    }
    h1 {
        padding-top: 0;
    }
    .prod_desc {
        padding-top: 0;
        padding-right: 1.5rem;
    }
    .cost .current {
        width: 45%;
    }
    button {
        margin-top: 1.5rem;
        width: 18.5rem;
        margin-bottom: 1.5rem;
    }
}
